<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.ovidijus.miliauskas.TVprograms.mybatis.model.Person" alias="Person"/>
        <typeAlias type="com.ovidijus.miliauskas.TVprograms.mybatis.model.Tvprogram" alias="Tvprogram"/>
        <typeAlias type="com.ovidijus.miliauskas.TVprograms.mybatis.model.Comments" alias="Comments"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.h2.Driver" />
                <property name="url" value="jdbc:h2:~/h2database/TVprogramsDB;AUTO_SERVER=TRUE" />
                <property name="username" value="sa" />
                <property name="password" value="sa" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/PersonMapper.xml"/>
        <mapper resource="mybatis.xml/TvprogramMapper.xml"/>
        <mapper resource="mybatis.xml/CommentsMapper.xml"/>
    </mappers>
</configuration>
